<header>
  <nav>
    <a href="#" id="logo">
      BURGR.
    </a>
  </nav>
  <section class="intro">
    <header id="title">
      <h1 id="top">Welcome</h1>
      <h1 id="middle">To</h1>
      <h1 id="btn">BURGR.</h1>
    </header>
    <img class="burgerIcon1" src="/images/SVG/Burger.svg" alt="">
    <img class="burgerIcon2" src="/images/SVG/Burger.svg" alt="">
  </section>
</header>

{{!-- {{> footer}} --}}
<script src="/javascript/main.js"></script>