// Fonts
/* ===================================================== */
@import url("https://use.typekit.net/hpz8vqo.css");

@import url("https://use.typekit.net/hpz8vqo.css");

// Mixins
/* ===================================================== */
@mixin flex-hor-center {
  display: flex;
  justify-content: center;
}

@mixin button {
  padding: 0.3em 1em;
  border-radius: 30px;
  background-color: #ffc107;
  border: 1px solid black;
}

@mixin button-hover {
  background-color: black;
  border: 1px solid #ffc107;
  color: rgb(255, 255, 255);
}

@mixin tables-dimensions($height, $width) {
  height: $height;
  width: $width;
}

@mixin tables {
  width: 100%;
  height: 19em;
  padding: 0.4em;
  margin-bottom: 2em;
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
  font-size: 0.8em;
}

// Keyframes
/* ===================================================== */
@keyframes shake {
  5% {
    transform: translate3d(-7px, 0, 0);
  }

  10% {
    transform: translate3d(2px, 0, 0);
  }

  15% {
    transform: translate3d(-4px, 0, 0);
  }

  20% {
    transform: translate3d(4px, 0, 0);
  }

  30% {
    transform: translate3d(0, 0, 0);
  }
}

// Mobile 1st Approach
/* ===================================================== */
html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  text-decoration: none;
  font-family: ff-cocon-pro, sans-serif;
  color: white;
}

nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  height: 4.8em;
  border-bottom: 3px solid #ffc107;

  a {
    font-family: sarina, sans-serif;
    color: #ffc107;
    font-size: 1.3em;
  }

  a:hover {
    text-decoration: none;
    color: #ffc107;
  }

  p {
    font-size: 0.6rem;
    color: white;
    margin: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 1em 1em 1em;

  header {
    margin: 4em 2em 1em 2em;
    color: white;
    text-align: center;

    #top,
    #middle {
      font-size: 2em;
    }

    #btn {
      font-size: 3.5em;
    }
  }

  #burgerIcon1,
  #burgerIcon2 {
    width: 13em;
  }

  .hideBurger {
    display: none;
  }

}

.call2action {
  @include flex-hor-center();
  padding: 1em;

  img {
    width: 5em;
    height: 8em;
    animation: shake 2.5s infinite cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 62.5em;
  }
}

main {
  margin-top: 3em;
  text-align: center;
  height: 100%;

  .burger-creation {
    @include flex-hor-center();
    margin: 3em 0 1em 0;
    padding: 1em;

    form {
      @include flex-hor-center();
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      color: white;

      ::placeholder {
        color: #d8d0d1;
      }

      input {
        background-color: rgb(255, 255, 255);
        color: black;
        border: none;
        border-radius: 8px;
        margin-left: 1em;
        padding: 0.3em 0.6em;
      }

      .submit-btn {
        margin-left: 1em;
        @include button();
      }

      .submit-btn:hover {
        @include button-hover();
      }
    }
  }

  .instruction {
    @include flex-hor-center();
    margin: 1em 0;
    font-style: italic;
    color: rgb(196, 196, 196);
    padding: 1em;
    font-size: 0.3em;
    text-align: center;
  }

  .my-tables {
    padding: 1em;
    display: flex;
    color: white;
    height: 100%;

    h1 {
      font-size: 1em;
    }

    .burgers2eat,
    .burgers-devoured {
      @include tables-dimensions($height: 100%, $width: 70%);

      article {
        @include tables();
      }
    }

    .burgers2eat {
      margin-right: 0.5em;

      form {
        @include flex-hor-center();

        .devour-btn {
          @include button();
        }

        .devour-btn:hover {
          @include button-hover();
        }
      }
    }

    .burgers-devoured {
      margin-left: 0.5em;

      form {
        @include flex-hor-center();

        .bring-back-btn {
          @include button();
        }

        .bring-back-btn:hover {
          @include button-hover();
        }
      }
    }
  }
}

hr {
  // margin-top: 3em;
  border-top: 3px solid #ffc107 !important;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 0 1em 1em 1em;
  color: #fff;
  text-decoration: none;

  .copyright {
    p {
      margin-bottom: 0.5em;
    }
  }

  .social {
    a {
      color: #cb0814;
    }

    a:hover {
      color: #ffc107;
    }
  }
}

// Media Queries
/* ===================================================== */
// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { }

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
  header {
    padding-bottom: 1em;
    // margin-bottom:1em; 
    // height: calc(100vh - (4.8em + 128px));

    .intro {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;

      padding: 0 1em;

      header {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #top,
        #middle {
          font-size: 3em;
        }

        #btn {
          font-size: 4.5em;
        }

      }

      #burgerIcon2,
      #burgerIcon1 {
        width: 15em;
      }

    }
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {}