@import url("https://use.typekit.net/hpz8vqo.css");
@import url("https://use.typekit.net/hpz8vqo.css");
html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  text-decoration: none;
  font-family: ff-cocon-pro, sans-serif;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  width: 100%;
  height: 4.8em;
  border-bottom: 3px solid #ffc107;
}

nav a {
  font-family: sarina, sans-serif;
  color: #ffc107;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: none;
  color: #ffc107;
}

nav p {
  font-size: 0.6rem;
  color: white;
  margin: none;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 1em 1em 1em;
}

.intro header {
  margin: 4em 2em 1em 2em;
  color: white;
  text-align: center;
}

.intro header #top,
.intro header #middle {
  font-size: 2em;
}

.intro header #btn {
  font-size: 3.5em;
}

.intro .burgerIcon1 {
  width: 13em;
}

.intro .burgerIcon2 {
  display: none;
}

.call2action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.call2action img {
  width: 5em;
  height: 8em;
  -webkit-animation: shake 2.5s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 2.5s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 62.5em;
          perspective: 62.5em;
}

main {
  margin-top: 3em;
  text-align: center;
  height: 100%;
}

main .burger-creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0 1em 0;
  padding: 1em;
}

main .burger-creation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

main .burger-creation form ::-webkit-input-placeholder {
  color: #d8d0d1;
}

main .burger-creation form :-ms-input-placeholder {
  color: #d8d0d1;
}

main .burger-creation form ::-ms-input-placeholder {
  color: #d8d0d1;
}

main .burger-creation form ::placeholder {
  color: #d8d0d1;
}

main .burger-creation form input {
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  margin-left: 1em;
  padding: 0.3em 0.6em;
}

main .burger-creation form .submit-btn {
  margin-left: 1em;
  padding: 0.3em 1em;
  border-radius: 30px;
  background-color: #ffc107;
  border: 1px solid black;
}

main .burger-creation form .submit-btn:hover {
  background-color: black;
  border: 1px solid #ffc107;
  color: white;
}

main .instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
  font-style: italic;
  color: #c4c4c4;
  padding: 1em;
  font-size: 0.3em;
  text-align: center;
}

main .my-tables {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 100%;
}

main .my-tables h1 {
  font-size: 1em;
}

main .my-tables .burgers2eat,
main .my-tables .burgers-devoured {
  height: 100%;
  width: 70%;
}

main .my-tables .burgers2eat article,
main .my-tables .burgers-devoured article {
  width: 100%;
  height: 19em;
  padding: 0.4em;
  margin-bottom: 2em;
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
  font-size: 0.8em;
}

main .my-tables .burgers2eat {
  margin-right: 0.5em;
}

main .my-tables .burgers2eat form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .my-tables .burgers2eat form .devour-btn {
  padding: 0.3em 1em;
  border-radius: 30px;
  background-color: #ffc107;
  border: 1px solid black;
}

main .my-tables .burgers2eat form .devour-btn:hover {
  background-color: black;
  border: 1px solid #ffc107;
  color: white;
}

main .my-tables .burgers-devoured {
  margin-left: 0.5em;
}

main .my-tables .burgers-devoured form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .my-tables .burgers-devoured form .bring-back-btn {
  padding: 0.3em 1em;
  border-radius: 30px;
  background-color: #ffc107;
  border: 1px solid black;
}

main .my-tables .burgers-devoured form .bring-back-btn:hover {
  background-color: black;
  border: 1px solid #ffc107;
  color: white;
}

hr {
  border-top: 3px solid #ffc107 !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  padding: 0 1em 1em 1em;
  color: #fff;
  text-decoration: none;
}

footer .copyright p {
  margin-bottom: 0.5em;
}

footer .social a {
  color: #cb0814;
}

footer .social a:hover {
  color: #ffc107;
}

/* ===================================================== */
@-webkit-keyframes shake {
  5% {
    -webkit-transform: translate3d(-7px, 0, 0);
            transform: translate3d(-7px, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes shake {
  5% {
    -webkit-transform: translate3d(-7px, 0, 0);
            transform: translate3d(-7px, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=main.css.map */